body{
  padding: 0px 25px 50px 25px;
  /*www.toptal.com/designers/subtlepatterns/ Made by Listvetra*/
  background-image:url("../images/dark_embroidery.png");
}

button{
  padding: 5px;
  margin: 25px 10px;
}


.item{
  float:left;
  margin: 10px;
}

.btnGrp{
 float:left;
 margin: 10px;
}

form, input{
 padding: 5px;
 margin: 10px;
}

label{
 color:mediumturquoise;
 font-family: 'Libre Baskerville', serif;
 font-size: 18px;
}

.delete{
  background-color:darkgrey;
  color:white;
}

.select{
  background-color: mediumturquoise;
  font-family: 'Libre Baskerville', serif;
  font-weight:bold;
}

#add-Topic{
  margin-top: 10px;
  background-color: mediumturquoise;
  font-family: 'Libre Baskerville', serif;
  font-weight:bold;
}

#title{
 /*https://wallpapersafari.com/free-stars-wallpaper/*/
 background-image:url("http://cdn.wallpapersafari.com/59/47/FxLck2.jpg");
 padding: 20px;
 margin-bottom: 20px;
 color: mediumturquoise;
 font-family: 'Lobster', cursive;
 font-size: 20px;
}

#footer{
 padding-top: 10px;
}

p{
  color: white;
  font-family: 'Libre Baskerville', serif;
}